.major_wrapper
  %section#home
    .background
      .jumbotron.foreground
        #jumboimagecontainer
          #jumboimage
            =image_tag "bostonroots_log_new.png"
        #jumbotext
          %h1 We are Boston Roots, a Nonprofit College Access Initiative.
          %p
            Because Higher education is a
            %b right.
          %button.btn.btn-success{to: "#contact"}
            Get Involved

  %section#timeline
    .header
      %h1
        Timeline
    %ul.timeline
      %li.timeline-date.short-shadow
        %h4 January 2015
      %li.timeline-component
        .timeline-badge
          %a
            %p
              &#x25CF;
        .timeline-panel.card
          .timeline-heading
            %h4 Idea Formed
      %li.timeline-component.timeline-inverted
        .timeline-badge
          %a
            %p
              &#x25CF;
        .timeline-panel.card
          .timeline-heading
            %h4 Team Gathered
      %li.timeline-component
        .timeline-badge
          %a
            %p
              &#x25CF;
        .timeline-panel.card
          .timeline-heading
            %h4 Non-profit status acquired
      %li.timeline-date
        %h4 January 2016
      %li.timeline-inverted.timeline-component
        .timeline-badge
          %a
            %p
              &#x25CF;
        .timeline-panel.card
          .timeline-heading
            %h4 Highschool student outreach

      %li.timeline-component
        .timeline-badge
          %a
            %p
              &#x25CF;
        .timeline-panel.card
          .timeline-heading
            %h4 Mentor Recruitement

      %li.timeline-inverted.timeline-component
        .timeline-badge
          %a
            %p
              &#x25CF;
        .timeline-panel.card
          .timeline-heading
            %h4 Pilot Program Launch

      %li.clearfix.no-float
      %li.timeline-date
        %h4 January 2017


  %section#mission
    .filter#missionfilter.foreground
      #missionheader.header
        %h1 Our Mission
      #missionbody.notebook
        .card
          %h2 Mission Statement
          %p Boston Roots is a nonprofit organization that seeks to shrink the opportunity gap in our country by empowering students to succeed throughout high school and the college admissions process.
        .card
          %h2 Student Guidance
          %p Lack of access to college counseling services, financial information, and SAT/ACT prep courses can be major setbacks to students applying to college. Boston Roots provides guidance and college prep services at no cost to high school students and their families. Every high schooler in our program is put in touch with a trained university student mentor who regularly meets and interacts with them throughout their high school years.
        .card
          %h2 Fostering Connections
          %p Boston Roots firmly believes that parent involvement contributes to a higher degree of student success. As a result, our program works with parents to give their children greater support through parent seminars. Topics include student progress, financial saving information, and support strategies to motivate students. Moreover, we intend to connect students with third party SAT/ACT tutors and financial experts for extra support when it is needed.

  %section#team
    #teamheader.header
      %h1 The Team
      #teamfooter.notebook
        %p Click on the images for more.
    #teambody.notebook
      .profile_table
        - @teamMembers.each_with_index do |member, index|
          .long-shadow.profile.col-xs-12.col-sm-3{ "data-toggle" => "modal", "data-target" => "#modal#{index}"}
            - if member.path.blank?
              =image_tag "default_profile.jpg"
            - else
              =image_tag "#{member.path}"
            .profile_name
              %h2
                = member.name
          .modal.fade{id: "modal#{index}", role: "dialog"}
            .modal-dialog
              .modal-header
                %button.close{ "data-dismiss" => "modal" }
                  &times;
                .modal-title
                  %h2
                    = member.name
                  %h3
                    = member.position
              .modal-body
                .profile_text
                  %p
                    = member.bio
              .modal-footer
                %button.btn.btn-default{ "data-dismiss" => "modal" }
                  Close

  %section#contact
    #contactheader.header
      %h1 Contact Us!
    #contactbody.notebook
      %h5 Want to learn more or get involved? Feel free to contact our Presidents directly to ask questions or offer suggestions.
      %p
        Contact
        = link_to "Alex", "mailto:alexander.nehrbass@mail.mcgill.ca"
        or
        = link_to "Viraj!", "mailto:ayarviraj@gmail.com"
      %h5 Noticed something wrong with the website?
      %p
        Contact
        = link_to "Rafael.", "mailto:rafa.ballestiero@gmail.com"
  %section#footer
    .notebook
      %p © Copyright 2016 Boston Roots, All Rights Reserved
