%section#team.first_section
  #teamheader.header
    .header_text
      %h1 Team
      %p 
        We are Boston Roots,
        a Nonprofit College Access Initiative.
        Get to know us!
  #teambody.notebook
    .profile_table_container
      .profile_table
        - @teamMembers.each_slice(2) do |slice|
          - slice.each_with_index do |member, index|
            .profile{class: "side#{index}"}
              .profile_header.long-shadow
                .profile_image
                  - if member.path.blank?
                    = image_tag "profiles/default_profile.jpg"
                  - else
                    = image_tag "profiles/#{member.path}"
                .profile_card
                  .profile_name
                    = evil_icon 'ei-chevron-down', size: :m, class: "left_chevron"
                    %h2
                      = member.name 
                    = evil_icon 'ei-chevron-down', size: :m, class: "right_chevron"
                  .profile_pos
                    %h5
                      = member.position
              %input{type: "radio", name: "teambio"}
              .profile_bio.long-shadow
                %p
                  = member.bio
