%section#team.first_section
  #teamheader.header
    .header_text
      %h1 Team
      %p 
        We are Boston Roots,
        a Nonprofit College Access Initiative.
        Get to know us!
  #teambody.notebook
    .profile_table_container
      .profile_table
        - @teamMembers.each_slice(2) do |slice|
          .profile_row
            - slice.each_with_index do |member, index|
              .profile.long-shadow{class: "side#{index}"}
                .profile_header
                  .profile_image
                    - if member.path.blank?
                      = image_tag "profiles/default_profile.jpg"
                    - else
                      = image_tag "profiles/#{member.path}"
                  .profile_card
                    .profile_name
                      %h2
                        = member.name 
                    .profile_pos
                      %h5
                        = member.position
                .profile_bio
                  %p
                    = member.bio
