%html
  %head
    %title Boston Roots
    = csrf_meta_tags

    %meta{ charset:"utf-8"}
    %meta{ "http-equiv" => "x-ua-compatible", content: "ie=edge"}
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1" }
    %meta{name:"google-site-verification", content: "I9wqLKpcv-2sIKmUvOd8TVg2dQoffTNLqW17B0jOu2E"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag       'favicon.png', type: 'image/png'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = evil_icons_sprite

  %body{"data-spy" => "scroll", "data-target" => ".navbar", "data-offset" => "50"}
    #site_wrapper
      %nav.navbar.navbar-fixed-top.short-shadow
        #navlinks
          %ul#left-subnav.nav.navbar-nav.nav-pills
            %li.nav-option#navhome
              = link_to "Mission", '/#premission'
            %li.nav-option#navtimeline
              = link_to "Timeline", timeline_path
          %ul.navbar-brand#nav_brand.nav.navbar-nav.nav-pills
            %li
              = link_to image_tag("favicon.png"), "/"
          %ul#right-subnav.nav.navbar-nav.nav-pills
            %li.nav-option#navteam
              = link_to "Team", team_path
            %li.nav-option#navcontact
              = link_to "Join us", contacts_path

      = yield

    %section#footer
      .notebook
        %p © Copyright 2017 Boston Roots, All Rights Reserved