%html
  %head
    %title Boston Roots
    = csrf_meta_tags

    %meta{ charset:"utf-8"}
    %meta{ "http-equiv" => "x-ua-compatible", content: "ie=edge"}
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1" }

    = stylesheet_link_tag    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity: "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin: "anonymous"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag       'favicon.png', type: 'image/png'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{"data-spy" => "scroll", "data-target" => ".navbar", "data-offset" => "50"}
    #site_wrapper
      %nav.navbar.navbar-fixed-top
        #nav_bg
        .col-xs-12.col-sm-12.col-md-4.col-lg-4{ style: "padding: 0;" }
          .navbar-brand#nav_brand
            = link_to image_tag("boston_roots_nav.png"), "#home"
        .hidden-xs.hidden-sm.navbar-right
          %ul.nav.navbar-nav.nav-pills
            %li.active#navhome
              %a{ href:"#home" }Home
            %li#navtimeline
              %a{ href:"#timeline"}Our Timeline
            %li#navmission
              %a{ href:"#mission" }Our Mission
            %li#navteam
              %a{ href:"#team" }Our Team
            %li#navcontact
              %a{ href:"#contact" }Join Us

      = yield
